@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');
@tailwind base;
@tailwind components;
body {
  font-family: 'Source Sans Pro', sans-serif;
}
.animation-fadeIn-top {
  animation: fadeInTop 1s ease-in;
}

.animation-fadeIn-bottom {
  animation: fadeInBottom 1s ease-in;
}
.animation-fadeIn-big {
  animation: fadeInBig 1s ease-in-out;
}
@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.delay-anim-75 {
  animation-delay: 75ms;
}
.delay-anim-100 {
  animation-delay: 100ms;
}
.delay-anim-150 {
  animation-delay: 150ms;
}
.delay-anim-200 {
  animation-delay: 200ms;
}

@keyframes fadeInBig {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.toggle__dot {
  top: -0.25rem;
  left: -0.25rem;
  transition: all 0.3s ease-in-out;
}

input:checked ~ .toggle__dot {
  transform: translateX(100%);
  background-color: hsl(169, 19%, 16%);
}

@tailwind utilities;
